.share-top {
  float: right;
  margin-top: 27px;
}
@media screen and (max-width: 640px) {
  .share-top {
    margin-top: 0px;
    float: left;
    padding: 0px 10px 10px;
    width: 100%;
    text-align: center;
  }
}

.wrapper-footer {
  margin-top: 0px;
  border-top: 1px solid #ddd;
  background-color: #333333;
}

footer {
  padding: 20px 0;
  text-align: center;
  background-color: #333333;
}

.footerinfo {
  color: #666666;
  font-size: 14px;
  padding: 8px;
}

.totop {
  list-style-type: none;
  float: right;
  margin: 0px 20px;
  color: #4183c4;
}
@media screen and (max-width: 640px) {
  .totop {
    margin: 0px 40px;
    float: none;
    text-align: center;
    border: 1px solid #4183c4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
  }
  .totop:hover {
    background-color: #4183c4;
    color: white;
  }
}

.custom-icon {
  margin: 0px 10px;
}
