#map_canvas {
  height: 400px;
  width: 100%;
}
@media screen and (max-width: 640px) {
  #map_canvas {
    display: none;
  }
}

#map_canvas img {
  max-width: none;
}

#map_canvas .content {
  padding: 0 .5em 1em .5em;
}

#map_canvas .firstHeading {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

#map_canvas #bodyContent p {
  font-size: 1em;
  margin: 0;
}
