.post-title {
  margin: 0 auto;
  max-width: 900px;
  padding: 10px;
  float: left;
}
@media screen and (max-width: 640px) {
  .post-title {
    float: none;
    text-align: center;
  }
}

.posts > .post {
  padding: 1px 15px 40px 15px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(#eeeeee));
  background-image: -webkit-linear-gradient(bottom, white, #eeeeee);
  background-image: -moz-linear-gradient(bottom, white, #eeeeee);
  background-image: -o-linear-gradient(bottom, white, #eeeeee);
  background-image: linear-gradient(to top, white, #eeeeee);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border-top: 5px solid #4183c4;
  margin-bottom: 40px;
}
@media screen and (max-width: 640px) {
  .posts > .post {
    margin-bottom: 20px;
  }
}

.posts h1 {
  margin: 10px 0px;
}
.posts h1 a:hover {
  border-bottom: 3px solid #4183c4;
  padding-bottom: 1px;
}
@media screen and (max-width: 640px) {
  .posts h1 {
    text-align: center;
  }
}

.post {
  padding: 15px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 14px 24px -10px #666666;
  -moz-box-shadow: 0px 14px 24px -10px #666666;
  -ms-box-shadow: 0px 14px 24px -10px #666666;
  box-shadow: 0px 14px 24px -10px #666666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border-top: 5px solid #4183c4;
  background-color: #f7f7f7;
}
@media screen and (max-width: 640px) {
  .post {
    margin: 0px 0.4em;
  }
}
.post .postdate {
  text-align: center;
  font-size: 12px;
  margin: 12px;
  color: #666666;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post h2 {
  font-size: 1.6em;
  margin-bottom: 0.3em;
}
.post h3 {
  font-size: 1.3em;
  margin-bottom: 0.3em;
}
.post p {
  color: #666666;
}
.post ul {
  list-style-type: disc;
  margin: 15px 0px;
  padding-left: 30px;
  color: #666666;
}
.post blockquote {
  margin: 1.8em .8em;
  border-left: 2px solid #666666;
  padding: 0.1em 1em;
  color: #666666;
  font-size: 22px;
  font-style: italic;
}
.post .comments {
  margin-top: 10px;
}
.post .read-more {
  text-transform: uppercase;
  font-size: 15px;
}
@media screen and (max-width: 640px) {
  .post .read-more {
    margin: 0 4px;
    padding: 5px 10px;
    border: 1px solid #4183c4;
    background-color: white;
    color: #4183c4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
  }
  .post .read-more:hover {
    border: 1px solid #4183c4;
    background-color: #4183c4;
    color: white;
  }
}

.page {
  padding: 0px;
}
.page h1 {
  margin: 10px 0px;
}
@media screen and (max-width: 640px) {
  .page h1 {
    text-align: center;
  }
}

.floatright {
  float: right;
  max-width: 50%;
  max-height: 250px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.floatleft {
  float: left;
  max-width: 50%;
  max-height: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.centered {
  margin: 30px auto;
  position: relative;
  left: -10%;
  max-width: 120%;
  -webkit-box-shadow: 0px 6px 20px -1px #666666;
  -moz-box-shadow: 0px 6px 20px -1px #666666;
  -ms-box-shadow: 0px 6px 20px -1px #666666;
  box-shadow: 0px 6px 20px -1px #666666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
@media screen and (max-width: 640px) {
  .centered {
    margin: 10px auto;
    left: 0;
    max-width: 100%;
  }
}

.tags, .categories {
  list-style-type: none;
}

.share {
  margin-top: 20px;
}
