.fixedbackground {
  background: url("/images/ft-peck.jpg");
  height: 600px;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0px -100px 50px -50px #eaeaea;
  @include transition(all, 1s, $ease-out-back);
  @include desktop {
    width: 75%;
    @include transition(all, 1s, $ease-out-back);
  }
}

.parallax-static-content {
  color: #9A9A8A;
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: -130px;
  @include tablet {
    padding: 2em 0;
  }
  @include desktop {
    padding: 7em 0 !important;
  }
  h1 {
	  font-size: 2em;
	  margin: 0em .5em .5em;
	  text-shadow: 1px 0px 5px #fff;

	  @include mobile {
	     font-size: 1.2em;
	  }
	}
	p {
	  font-size: 1.2em;
	  font-weight: 100;
	  line-height: 1.6em;
	  margin: 0em 3em 4em;
	  color: $white;
    text-shadow: 0px 0px 4px #000;

	  @include mobile {
	    margin: 0em 1em 2em;
      font-size: 1em;
	  }
	}
}

.downarrow {
  margin: 0 auto 8em;
  border-radius: 0px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid white;
}