@import 'variables';
@import 'bourbon';
// @import 'mixins';

.bullets {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-line-height: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  -webkit-font-smoothing: antialiased;
  color: $white;

  padding: 0;

  h2 {
    margin: 0;
    color: $white;
  }

  li {
    list-style: none;

  }

  p {
    color: $white;
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }

  @include mobile {
    align-content: stretch;
    justify-content: flex-start;
    justify-content: space-around;
  }

  //////////////////////////////////////////////////////////////////////////////////

  $icon-bullet-size: 3.5em;

  @include display(flex);
  @include flex-wrap(wrap);
  margin-bottom: $base-line-height;
  margin: 2em 0.2em 0em;
  overflow: auto;

  .bullet {
    @include flex-basis(20em);
    @include flex-grow(1);
    @include mobile {
      margin: 0em 0em 1em;
    }
  }

  .bullet-icon {
    background: $base-accent-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size /4;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $base-accent-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($base-accent-color, -50);
  }

  .bullet-icon-3 {
    background: adjust-hue($base-accent-color, -140);
  }

  .bullet-content {
    margin: 0em 1em 2em;
  }

  h2 {
    border-bottom: 1px solid transparentize($base-font-color, .8);
    display: inline-block;
    font-size: $icon-bullet-size /2.5;
    margin-bottom: $icon-bullet-size /6;
    padding-top: 0em;
  }
  ul {
    padding-left: 12px;
  }

  .socialText {
    position: relative;
    top: -1em;
  }
}
