@import 'breakpoints';
@import 'variables';
@import 'bourbon';
@import 'mixins';

.wrapper-footer {
  margin-top: 0px;
  border-top: 1px solid #ddd;
  background-color: $darkGray;
}

footer {
  padding: 20px 0;
  text-align: center;
  background-color: $darkGray;
}

.footerinfo {
  color: $gray;
  font-size: 14px;
  padding: 8px;
}

.totop {
  list-style-type: none;
  float: right;
  margin: 0px 20px;
  color: $color1;
  @include mobile {
    margin: 0px 40px 20px;
    float: none;
    text-align: center;
    border: 1px solid $color1;
    @include border-radius(5px);
    &:hover {
      background-color: $color1;
      color: $white;
    }

  }
}

.custom-icon {
  margin: 0px 10px;
}