// @import 'variables';
// @import 'mixins';

html {
  font-size: 100%;
}

body {
	background: $lighterGray !important;
  font: 18px/1.4 $font;
  color: $darkGray;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 10px;
  width: 100%;
  @include mobile {
    padding: 0px 0px;
  }
}

.postcontainer {
  margin-bottom: 1em;
  max-width: 900px;
  // @include desktop {
  //   margin: 0;
  //   max-width: none;
  //   width: 65%;
  //   margin-bottom: 3em;
  //   float: right;
  // }
}

.big-container {
  @extend .container;
  padding: 0;
  max-width: 1500px;
  // @include desktop {
  //   width: 80%;
  //   float: right;
  // }
}

.section {
  padding: 10px 20px;
  background-color: $postbackground;
  margin: 1em 0.4em 0em;
  @include box-shadow(0px, -4px, 16px, -6px, $gray);
  @include border-radius(5px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;
  line-height: 1.2;
  margin: 1em 0 15px;
  padding: 0;
}
  
h1 {  
  font-size: 30px;
  padding: 0px 10px;
  color: #444;
}

h2 {  
  font-size: 24px;
}

h3 {  
  font-size: 20px;
}

h4 {  
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

button {
  -webkit-font-smoothing: antialiased;
  background-color: $white;
  color: $color2;
  border-radius: $base-border-radius;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  border: 1px solid $color2;
  text-decoration: none;
  padding: .7em 1em;
  margin-top: 1em;
  cursor: pointer;
  @include transition(all, 0.8s, $ease-out-back);
  &:hover {
    @include box-shadow(0px, 5px, 16px, -6px, $gray);
      border: 1px solid $color2;
      background-color: $color2;
      color: $white;
  }
  &:active {
    @include box-shadow(0px, -3px, 16px, -6px, $gray);
    background-color: lighten($color1, 5%);
  }
}

a {
  color: $color2;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $color1;
  }
}

a {
  color: $color2;
  // @include transition(all, 0.8s, $ease-out-back);
  &:hover {
    color: $color1;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

.custom-icon {
  margin: 0px 5px;
  height: 100px !important;
  width: 100px !important;
  @include transition(fill, 0.8s, $ease-out-back);
  &:hover {
    fill: $color2;
    @include transition(fill, 0.8s, $ease-out-back);
  }
  @include mobile {
    height: 35px !important;
    width: 35px !important;
  }
}

#social-twitter {
  fill: #00aced;
}

#social-facebook {
  fill: #3b5998;
}

#social-google {
  fill: #dd4b39;
}

#social-pinterest {
  fill: #cb2027;
}

#social-linkedin {
  fill: #007bb6;
}

#social-github {
  fill: #000; 
}

#social-instagram {
  fill: #517fa4; 
}

#social-feed {
  fill: $lighterGray;
}

.floatright {
  float: right;
  text-align: right;
}

.tallmargin {
  margin: 2em 0em 1em;
  padding-bottom: 1em;
}

.align-center {
  text-align: center;
}

.meta {
  font-style: italic;
  font-size: 0.8em;
  color: $gray;
}

.flexdad {
  @include clearfix;
  @include flexbox;
  @include justify-content(space-around);
  @include align-items(stretch);
  margin: 2em 0em;
  .flexkid {
    padding: 0px 2px;
    p {
      color: $white;
      margin-top: 2em;
    }
  }
}
.three {
  max-width: 31%
}
.four {
  max-width: 23%;
}

.gallerypreview {
  margin-top: 2em;
  @include clearfix;
  @include flexbox;
  @include justify-content(center);
  @include align-items(stretch);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  a {
    width: 25%;
  }
  .thumb {
    display: inline-block;
    background-position: center center;
    background-size: cover;
    height: 20vw;
  }
  // @include desktop {
  //   width: 80%;
  //   float: right;
  // }
  @include mobile {
    a {
      width: 50%;
    }
    .thumb {
      height: 40vw;
    }
  }
}
.gallery {
  padding: 0;
  font-size: 0;
  margin: 0;
  width: 100%;
  @include clearfix;
  @include flexbox;
  @include justify-content(center);
  @include align-items(stretch);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include desktop {
    a {
      width: 25%;
    }
  }
  @include smdesktop {
    a {
      width: 33%;
    }
  }
  @include tablet {
    a {
      width: 50%;
    }
  }
  @include mobile {
    a {
      width: 100%;
    }
  }
  // a {
  //   margin: 0.5vw;
  // }
  .thumb {
    display: inline-block;
    height: 25vw;
    margin: 0px;
    padding: 0px;
    background-position: center center;
    background-size: cover;
    @include tablet {
      height: 50vw;
    }
    @include mobile {
      height: 90vw;
    }
  }
}

.breadcrumb {
  list-style-type: none;
  display: inline-flex;
  padding-left: 1em;
  font-size: 0.8em;
  margin: 1em 0em 0em;
  li {
    color: $gray;
    padding-left: 4px;
    &:not(:last-child) {
      &::after {
        content: " >";
      }
    }
  }
  @include mobile {
    display: none;
  }
}

.entry {
  ul {
    text-align: left;
    li {
    }
  }
}

// .snippet {
//   @include outer-container;
//   .aboutme {
//     @include span-columns(3);
//   }
//   .whatido {
//     @include span-columns(9);
//   }
// }