// @import 'variables';
// @import 'mixins';

html {
  font-size: 100%;
}

body {
	background: $lighterGray !important;
  font: 18px/1.4 $font;
  color: $darkGray;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 10px;
  @include mobile {
    padding: 0px 0px;
  }
  width: 100%;
}
.big-container {
  @extend .container;
  max-width: 1150px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;
  
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}
  
h1 {  
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {  
  font-size: 24px;
}

h3 {  
  font-size: 20px;
}

h4 {  
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

button {
  -webkit-font-smoothing: antialiased;
  background-color: $white;
  color: $color2;
  border-radius: $base-border-radius;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  border: 1px solid $color2;
  text-decoration: none;
  padding: .7em 1em;
  margin-top: 1em;
  cursor: pointer;
  @include transition(all, 0.8s, $ease-out-back);
  &:hover {
    @include box-shadow(0px, 5px, 16px, -6px, $gray);
      border: 1px solid $color1;
      background-color: $color1;
      color: $white;
  }
  &:active {
    @include box-shadow(0px, -3px, 16px, -6px, $gray);
    background-color: darken($color1, 10%);
  }
}

a {
  color: $color1;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $color1;
  }
}

a {
  color: $color2;
  @include transition(all, 0.8s, $ease-out-back);
  &:hover {
    color: $color1;
  }
}

// This is to add a large title description
// a:hover {
//   color: red;
//   position: relative;
// }

// a[title]:hover:after {
//   content: attr(title);
//   padding: 4px 8px;
//   color: #333;
//   position: absolute;
//   left: 0;
//   top: 100%;
//   z-index: 20;
//   white-space: nowrap;
//   -moz-border-radius: 5px;
//   -webkit-border-radius: 5px;
//   border-radius: 5px;
//   -moz-box-shadow: 0px 0px 4px #222;
//   -webkit-box-shadow: 0px 0px 4px #222;
//   box-shadow: 0px 0px 4px #222;
//   background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
//   background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
//   background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
//   background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
//   background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
//   background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
// }

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

.custom-icon {
  margin: 0px 10px;
  height: 100px !important;
  width: 100px !important;
  fill: $color2 !important;
  @include transition(all, 0.8s, $ease-out-back);
  &:hover {
    fill: $color1 !important;
    @include transition(all, 0.8s, $ease-out-back);
  }
  @include mobile {
    height: 50px !important;
    width: 50px !important;
  }
}

.floatright {
  float: right;
}

.tallmargin {
  margin: 2em 0em 1em;
  padding-bottom: 1em;
}

.meta {
  font-style: italic;
  font-size: 0.8em;
}

.flexparent {
  @include clearfix;
  @include flexbox;
  @include justify-content(space-around);
  @include align-items(stretch);
  @include flex-direction(row);
  margin: 2em 0em;
  .flexkid {
    p {
      color: $white;
      margin-top: 2em;
    }
  }
}

.gallery {
  padding: .5vw;
  font-size: 0;
  @include clearfix;
  @include flexbox;
  @include justify-content(space-around);
  @include align-items(stretch);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  div {
    width: 200px;
    margin: .5vw;
    img {
      width: 100%;
      height: auto;
    }
  }
}