// @import 'variables';
// @import 'mixins';

.wrapper-masthead {
  background-color: $color3;
  color: $white;
  @include desktop {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100%;
    width: 25%;
    padding: 3em 0em;
  }
  .container  {
    background-color: $color3;
    position: relative;
    z-index: 30;
  }
}

.masthead {
  padding-top: 10px;
  @include mobile {
    // text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
  }
}

.navigation {
}

.site-info {
  text-align: center;
}

.site-avatar {
  display: block;
  float: left;
  width: 100px;
  margin: 7px 15px 0px 10px;
  float: none;
  margin: 0 auto;
  @include transition(all, 0.8s, $ease-out-back);
  &:hover {
    transform: rotateX(20deg);
  }
  img {
    border-radius: 100px;
  }
  @include tablet {
    display: none;
  }
}

.site-name {
  margin: 0;
  color: $white;
  font-family: $helveticaNeue; 
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  &:hover {
    color: $color1 !important;
  }
  @include mobile {
    text-align: left;
    padding-left: 10px;
  }
}

.site-description {
  margin: 0;
  color: $gray;
  font-size: 16px;
  @include mobile {
    margin: 3px 0;
    display: none;
  }
}

.twitter-follow-button {
  margin: 10px 0px;
  padding-top: 5px;
  height: 30px !important;
  @include mobile {
    margin: 0 auto;
    text-align: center;
  }
}

a.menu-link {
  display: none;
    @include mobile {
      display: block;
      padding: 5px;
      position: absolute;
      top: 20px;
      right: 10px;
      width: 50px;
      height: 20px;
  }
}

.menu-link span, .menu-link span:before, .menu-link span:after {
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
.menu-link span:before {
  top: -10px; 
}
.menu-link span:after {
  bottom: -10px;
}
.menu-link span {
  // @include transition(all, 0.3s, $ease-out-circ); // transition for menu link button
}
.menu-link span:before, .menu-link span:after {
  // @include transition(all, 0.3s, $ease-out-back); // transition for menu link button
}
.menu-link.active span {
  background-color: transparent;
  @include transition(all, 0s, $ease-out-circ);
}
.menu-link.active span:before, .menu-link.active span:after {
  top: 0;
}
.menu-link.active span:before {
  transform: rotate(45deg);
}
.menu-link.active span:after {
  transform: rotate(-45deg);
}

nav[role=navigation] {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  @include transition(all, 0s, linear);
  @include mobile {
    border-top: none;
    // this can be increased as number of links increases
    top: -200px;
  }
  @include desktop {
    padding-top: 1em;
  }
}
.js nav[role=navigation] {
  @include mobile {
    overflow: hidden;
    max-height: 0;
   }
}
nav[role=navigation].active {
  max-height: 100%;
  padding-top: 0px;
  position: relative;
  z-index: 20;
  top: 0px;
  // @include transition(all, 0.3s, $ease-out-back); // transition for actual nav to appear

}
nav[role=navigation] ul {
  list-style-type: none;
  margin: 1px;
  padding: 0px 0px 10px 0px;
  @include mobile {
    margin: 0px;
    padding: 0px;
  }
}
nav[role=navigation] li {
  display: inline-block;
  margin: 4px;
  background-color: $color3;
  @include transition(all, 0.6s, ease-out);
  // box-shadow: inset 0 .1em rgba(255,255,255,0.1), 0 .1em .1em black, 0 0.2em rgba(0,0,0,0.4), 0 0 0 .1em rgba(0,0,0,0.1);
  @include mobile {
    margin: 0px;
    display: block;
    text-align: center;
    &:hover {
      color: $color2;
    }
  }
  @include desktop {
    display: block;
  }
}
nav[role=navigation] li a {
  display: block;
  padding: 10px 8px;
  color: white;
  letter-spacing: 0px;
  font-weight: bold;
  @include transition(all, 0.6s, $ease-out-back);
  &:hover {
    color: $color2;
  }
  @include mobile {
    padding: 0.5em;
  }
  @include desktop {
    width: 100%;
  }
}

.flexmom {
  @include mobile {
    @include clearfix;
    @include flexbox;
    @include justify-content(space-around);
    @include align-content(stretch);
    @include align-items(stretch);
    @include flex-direction(row);
    @include flex-wrap(no-wrap);
    height: 100%;
    flex-direction: column;
  }
  @include desktop {

  }
  .flexkid {
    flex-grow: 1;
  }
}