@mixin gradient($colorFrom, $colorTo) {
  background-color: $colorTo;
  background-image: -webkit-gradient(linear, left top, right top, from($colorFrom), to($colorTo));
  background-image: -webkit-linear-gradient(bottom, $colorFrom, $colorTo);
  background-image: -moz-linear-gradient(bottom, $colorFrom, $colorTo);
  background-image: -o-linear-gradient(bottom, $colorFrom, $colorTo);
  background-image: linear-gradient(to top, $colorFrom, $colorTo);
}
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
@mixin box-shadow($left, $top, $blur, $size, $shadow-color) {
  -webkit-box-shadow: $left $top $blur $size $shadow-color;
     -moz-box-shadow: $left $top $blur $size $shadow-color;
      -ms-box-shadow: $left $top $blur $size $shadow-color;
          box-shadow: $left $top $blur $size $shadow-color;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

.animatedown, .animateleft, .animateright, .animateup, .animatereveal {
  display: block;
  position: relative;
}
.animatedown {
  @include animation(movedown 1s);
}
.animateright {
  @include animation(moveright 1s);
}
.animateleft {
  @include animation(moveleft 1s);
}
.animateup {
  @include animation(moveup 0.2s);
}
.animatereveal {
  @include animation(reveal 2s);
}
.delay1{
  @include animation-delay(2s);
}
.delay2{
  @include animation-delay(4s);
}
.pulse {
  @include animation(pulse 2s infinite alternate ease-in-out);
}

@include keyframes(movedown) {
    0%   {
      @include transform(scale(0));
      top: -300px;
    }
    100% {
      @include transform(scale(1));
      top: 0px;
    }
}

@include keyframes(moveright) {
    0%   {
      left: -1200px;
    }
    100% {
      left: 0px;
    }
}

@include keyframes(moveleft) {
    0%   {
      right: -1200px;
    }
    100% {
      right: 0px;
    }
}
@include keyframes(moveup) {
    0%   {
      bottom: -40px;
      opacity: 0;
    }
    50% {
      bottom: -20px;
      opacity: 1;
    }
    100% {
      bottom: 0px;
      opacity: 1;
    }
}

@include keyframes (reveal) {
    0%   {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@include keyframes (pulse) {
    0%   { 
      -webkit-transform: translateY(0); opacity: 0.4
    }
    100% {
      -webkit-transform: translateY(1em); opacity: 0.9
    }
}