$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  // max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  top: 0px;
  @include desktop {
    width: 80%;
  }
  h1 {
    font-size: 3em;
    margin: 0em .5em 1em;
    color: #FFF;
    text-shadow: 2px 2px 2px $color2, 4px 4px 2px black;
    font-stretch: extra-expanded;
    font-weight: 300;
    @include tablet {
      font-size: 2.5em;
    }
    @include mobile {
      font-size: 1.5em;
    }
  }
}

.parallax-static-content {
  color: #9A9A8A;
  position: relative;
  z-index: 9;
  @include desktop {
    padding: 12em 0em 0em;
  }
  @include tablet {
    padding: 10em 0em 0em;
  }
  @include mobile {
    padding: 12em 0em 0em;
  }
}

.parallax-background {
  background-repeat: no-repeat !important; 
  background-position: top !important;
  background-size: contain !important;
  background-color: #fff !important;
  min-height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
  @include mobile {
    background-size: cover !important;
      min-height: 30em;
  }
}

// Based on http://codepen.io/skeurentjes/
