$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  // max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: -130px;
  z-index: -1;

  h1 {
    font-size: 3em;
    margin: 0em .5em 1em;
    text-shadow: 2px 1px 4px #fff;

    @include mobile {
       font-size: 2em;
    }
  }

  p {
    font-size:1.2em;
    font-weight: 200;
    line-height: 1.6em;
    margin: 0em 3em 4em;
    color: $black;
    text-shadow: 1px 1px 1px #000; 

    @include mobile {
      font-size: 0.9em;
      margin: 0em 1em 2em;
    }
  }
}

.parallax-static-content {
  color: #9A9A8A;
  padding: 2em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("/images/ft-peck.jpg");
  background-position: top;
  background-size: cover;
  background-color: #fff;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

.downarrow {
  margin: 0 auto 100px;
  border-radius: 0px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid white;
}

// Based on http://codepen.io/skeurentjes/
