$flex-box-border-color: $lightGray;
$flex-box-border: 1px solid $flex-box-border-color;
$flex-box-background: $white;
$flex-box-gutter: .4em;
$flex-box-width: 18em;
$flex-box-color: transparentize($gray, .1);

.title {
  margin: 20px auto 0;
  padding: 10px 0em;
  float: none;
  text-align: center;
}

.postimg {
  display: block;
  width: 100%;
  margin: 0em auto;
  // @include transition(all, 0.4s, $ease-out-quint);
}

.postnohover {
  -webkit-filter: grayscale(0.3);
  filter: grayscale(0.3);
  @include mobile {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}
.posthover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.posts {
  @include clearfix;
  @include flexbox;
  @include justify-content(center);
  @include align-items(stretch);
  @include flex-wrap(wrap);
  clear: both;
  text-align: center;
  position: relative;
  top: 0em;
  margin-bottom: 0em;
  margin: 2% 0%;
  @include mobile {
    margin: 0;
  }
  h1 {
    margin: 10px 0px;
    a {
      &:hover {
        border-bottom: 3px solid $color2;
        padding-bottom: 1px;
      }
    }
    @include mobile {
      text-align: center;
    }
  }
}

.posts > .post {
  background-color: $postbackground;
  border-top: 5px solid $color3;
  margin: 1em;
  transition: 0.2s ease-in-out;
  // @include gradient($lightGray, $white);
  @include box-shadow(0px, -4px, 16px, -6px, $gray);
  padding: 0;
  // @include transition(all, 0.4s, $ease-out-quint);
  &:hover {
    @include box-shadow(0px, 0px, 10px, 0px, $gray);
    border-top: 5px solid $color2;
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
    -webkit-transition: .2s ease-in-out;
    transition: 0.2s ease-in-out;
    z-index: 999;
  }
  .padding {
    padding: 1px 15px 40px 15px;
  }
  @include mobile {
    margin: 1em 0.4em 0em;
    &:hover {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  // This makes the first and last post larger than the rest
  // &.post:last-child, &.post:first-child {
  //   flex-grow: 2;
  //   min-width: 65.3%;
  // }
}

.post {
  // @include transition (all, 0.1s, ease-in-out);
  @include flex(2 2 18em);
  @include align-self(stretch);
  background: $postbackground;
  @include border-radius(5px);
  border-top: 2px solid $color2;
  // border-radius: $base-border-radius;
  // box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10);
  display: block;
  margin: 1em $flex-box-gutter -1.3em;
  padding: 2em 3em;
  max-width: 100%;
  position: relative;
  z-index: 9;
  @include mobile {
    padding: 1em;
  }

  // margin-bottom: 30px;
  @include box-shadow(0px, -10px, 24px, -10px, $gray);
  @include border-radius(5px);
  // border-top: 5px solid $color1;

  // @include mobile {
  //   margin: 0px 0.4em 2em;
  // }
  h2 {
    margin-top: 0em;
  }
  .postdate {
    text-align: center;
    font-size: 12px;
    margin: 12px;
    color: $gray;
  }
}

.posts > .post:last-child {
}

.post {
  h1 {
    margin-bottom: 0.3em;
    margin-top: 0em;
  }
  h2 {
    font-size: 1.6em;
    margin-bottom: 0.3em;
  }

  h3 {
    font-size: 1.3em;
    margin-bottom: 0.3em;
  }

  p {
    color: $gray;
  }

  ul {
    list-style-type: disc;
    margin: 15px 0px;
    padding-left: 30px;
    color: $gray;
  }

  blockquote {
    margin: 1.8em .8em;
    font-family: serif;
    border-left: 4px solid $color2;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
    border: 1px solid $color2;
    background-color: $white;
    color: $color2;
    @include border-radius(5px);
    @include transition(all, 0.8s, $ease-out-back);
      &:hover {
        border: 1px solid $color2;
        background-color: $color2;
        color: $white;
      }
  }
}

.page {
  padding: 0px;
}

img {
  &.floatright {
    float: right;
    max-width: 50%;
    max-height: 250px;
    margin-left: 20px;
    @include box-shadow(0px, 7px, 16px, -1px, $gray);
    border-radius: 5px;
    @include mobile {
      max-width: 100%;
      max-height: 100%;
      margin-bottom: 20px;
    }
  }
  &.floatleft {
    float: left;
    max-width: 50%;
    max-height: 250px;
    margin-right: 20px;
    @include box-shadow(0px, 7px, 16px, -1px, $gray);
    border-radius: 5px;
    @include mobile {
      max-width: 100%;
      max-height: 100%;
      margin-bottom: 20px;
    }
  }
}
.centered {
  width: 100%;
  @include box-shadow(0px, 7px, 16px, -1px, $gray);
  border-radius: 5px;
  margin-bottom: 20px;
}
.floatrightsm {
  float: right;
  max-width: 50%;
  max-height: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
  clear: right;
}

// .centered {
//   margin: 30px auto;
//   position: relative;
//   left: -10%;
//   max-width: 120%;
//   @include box-shadow(0px, 7px, 16px, -1px, $gray);
//   @include mobile {
//     margin: 10px auto;
//     left: -5%;
//     max-width: 110%;
//   }
// }

.tags, .categories {
  list-style-type: none;
}

.tags {

}
.categories {

}

.share {
  margin-top: 20px;
}

.share-top {
  float: right;
  margin-top: -45px;
  z-index: 1;
  @include mobile {
    margin-top: 25px;
    padding: 0px 23px 10px;
    width: 100%;
  }
}

.socialmedia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  flex-flow: space-around;
  align-content: center;
  .share {
    flex-grow: 1;
    align-self: center;
    margin: auto;
    min-height: 100px;
    padding: 1em;
    margin: .2em;
    text-align: center;
  }
}

.facebook {
  background-color: blue;
  img {
    max-width: 100%;
  }
}
.twitter {
  background-color: lightblue;
}
.google {
  background-color: red;
}
.pinterest {
  background-color: red;
}

.relatedPost {
  max-width: 19%;
  list-style: none;
  padding-right: 1em;
  padding-left: 0em;
  display: inline-block;
  vertical-align: text-top;
  @include mobile {
    max-width: 100%;
    display: block;
    padding-right: 2em;
  }
  img {
    border-radius: 5px;
    margin-top: 6px;
    // border: 2px solid;
  }
}

.follow {

}

.auther-avatar {
  border-radius: 5px;
  float: left;
  width: 100px;
  margin: 25px;
}
