$flex-box-border-color: $light-gray;
$flex-box-border: 1px solid $flex-box-border-color;
$flex-box-background: $white;
$flex-box-gutter: .4em;
$flex-box-width: 18em;
$flex-box-color: transparentize($base-font-color, .1);

.title {
  margin: 0 auto;
  max-width: 900px;
  padding: 10px;
  @include mobile {
    float: none;
    text-align: center;
  }
}

.postimg {
  display: block;
  width: 100%;
  margin: 0em auto;
  @include transition(all, 0.4s, $ease-out-quint);
}

.postnohover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  @include mobile {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}
.posthover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.posts {
  @include clearfix;
  @include flexbox;
  @include justify-content(center);
  @include align-items(stretch);
  @include flex-wrap(wrap);
  clear: both;
  text-align: center;
  h1 {
    margin: 10px 0px;
    a {
      &:hover {
        border-bottom: 3px solid $color1;
        padding-bottom: 1px;
      }
    }
    @include mobile {
      text-align: center;
    }
  }
}

.posts > .post {
  background-color: $postbackground;
  // @include gradient($lightGray, $white);
  @include box-shadow(0px, -4px, 16px, -6px, $gray);
  padding: 0;
  @include transition(all, 0.4s, $ease-out-quint);
  &:hover {
    @include box-shadow(0px, 0px, 10px, 0px, $gray);
  }
  .padding {
    padding: 1px 15px 40px 15px;
  }
  &.post:last-child, &.post:first-child {
    flex-grow: 2;
    min-width: 65.3%;
  }
}

.post {
  @include transition (all, 0.2s, ease-in-out);
  @include flex(2 2 15em);
  @include align-self(stretch);
  background: $postbackground;
  @include border-radius(5px);
  border-top: 5px solid $color1;
  // border-radius: $base-border-radius;
  // box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10);
  display: block;
  margin: $flex-box-gutter;
  padding: 1em;
  max-width: 100%;

  // margin-bottom: 30px;
  @include box-shadow(0px, -10px, 24px, -10px, $gray);
  @include border-radius(5px);
  // border-top: 5px solid $color1;

  // @include mobile {
  //   margin: 0px 0.4em 2em;
  // }
  .postdate {
    text-align: center;
    font-size: 12px;
    margin: 12px;
    color: $gray;
  }
}

.posts > .post:last-child {
}

.post {
  h1 {
    margin-bottom: 0.3em;
  }
  h2 {
    font-size: 1.6em;
    margin-bottom: 0.3em;
  }

  h3 {
    font-size: 1.3em;
    margin-bottom: 0.3em;
  }

  p {
    color: $gray;
  }

  ul {
    list-style-type: disc;
    margin: 15px 0px;
    padding-left: 30px;
    color: $gray;
  }

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
    @include mobile {
      margin: 0 4px;
      padding: 5px 10px;
      border: 1px solid $color1;
      background-color: $white;
      color: $color1;
      @include border-radius(5px);
        &:hover {
          border: 1px solid $color1;
          background-color: $color1;
          color: $white;
        }
    }
  }
}

.page {
  padding: 0px;
}


.floatright {
  float: right;
  max-width: 50%;
  max-height: 250px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.floatleft {
  float: left;
  max-width: 50%;
  max-height: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.centered {
  width: 100%;
  @include box-shadow(0px, 7px, 16px, -1px, $gray);
}
// .centered {
//   margin: 30px auto;
//   position: relative;
//   left: -10%;
//   max-width: 120%;
//   @include box-shadow(0px, 7px, 16px, -1px, $gray);
//   @include mobile {
//     margin: 10px auto;
//     left: -5%;
//     max-width: 110%;
//   }
// }

.tags, .categories {
  list-style-type: none;
}

.tags {

}
.categories {

}

.share {
  margin-top: 20px;
}

.share-top {
  float: right;
  margin-top: -45px;
  z-index: 1;
  @include mobile {
    margin-top: 25px;
    padding: 0px 23px 10px;
    width: 100%;
  }
}