
.share-top {
  float: right;
  margin-top: 27px;
  @include mobile {
    margin-top: 0px;
    float: left;
    padding: 0px 10px 10px;
    width: 100%;
    text-align: center;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $darkGray;
}

footer {
  padding: 20px 0;
  text-align: center;
  background-color: $darkGray;
}

.footerinfo {
  color: $gray;
  font-size: 14px;
  padding: 8px;
}

.totop {
  list-style-type: none;
  float: right;
  margin: 10px;
  color: $white;
  &:hover {
    color: $blue;
  }
  @include mobile {
    float: none;
    text-align: center;
  }
}

.custom-icon {
  margin: 0px 10px;
}