@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  $grid-item-border: 1px solid transparentize($base-font-color, 0.8);
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 18em;

  @include clearfix;
  position: relative;
  margin-top: 4em;

  .grid-item {
    transition: (all, 0.4s, ease-in);
    background: $grid-item-background;
    border-bottom: $grid-item-border;
    border-right: $grid-item-border;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:focus,
    &:hover {
      // background: transparentize($grid-item-color, 0.95);
      transform: scale(0.95);
      // border: inset 10px;
    }
  }
  .fishingbg {
    background: url(http://jasonswingen.com/images/Fishingbg.jpg);
    background-size: cover;
  }
  .huntingbg {
    background: url(http://jasonswingen.com/images/Huntingbg.jpg);
    background-size: cover;
  }
  .reviewbg {
    background: url(http://jasonswingen.com/images/Reviewbg.jpg);
    background-size: cover;
  }
  .blogbg {
    background: url(http://jasonswingen.com/images/Blogbg.jpg);
    background-size: cover;
  }
  .nolink {
    cursor: default;
  }

  .grid-item img {
    display: block;
    width: 60%;
    margin: 0em auto;
    float: right;
    padding-left: 50px;
    }

  .grid-item h1 {
      font-size: 3rem;
      color: #000;
      text-shadow: 2px 2px 2px $color2;
      font-stretch: extra-expanded;
      font-weight: 300;
      margin: 0;
    }

  .grid-item p {
      color: transparentize($grid-item-color, 0.4);
      line-height: 1.5em;

      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    background: $grid-items-background;
    bottom: 0px;
    height: 3px;
    position: absolute;
    width: 100%;
  }

  .right-cover {
    background: $grid-items-background;
    height: 100%;
    position: absolute;
    right: 0px;
    width: 4px;
  }
}
