@import 'mixins';
@import 'breakpoints';
@import 'variables';

.title {
  margin: 0 auto;
  max-width: 900px;
  padding: 10px;
  @include mobile {
    float: none;
    text-align: center;
  }
}


.posts > .post {
  padding: 1px 15px 40px 15px;
  @include gradient($white, $lightGray);
  @include border-radius(5px);
  border-top: 5px solid $blue;
  margin-bottom: 40px;
  @include mobile {
    margin-bottom: 20px;
  }
}

.posts {
  h1 {
    margin: 10px 0px;
    a {
      &:hover {
        border-bottom: 3px solid $blue;
        padding-bottom: 1px;
      }
    }
    @include mobile {
      text-align: center;
    }
  }
}

.post {
  padding: 15px;
  margin-bottom: 30px;
  @include box-shadow(0px, 14px, 24px, -10px, $gray);
  @include border-radius(5px);
  border-top: 5px solid $blue;
  background-color: $postbackground;
  @include mobile {
    margin: 0px 0.4em;
  }
  .postdate {
    text-align: center;
    font-size: 12px;
    margin: 12px;
    color: $gray;
  }
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  h2 {
    font-size: 1.6em;
    margin-bottom: 0.3em;
  }

  h3 {
    font-size: 1.3em;
    margin-bottom: 0.3em;
  }

  p {
    color: $gray;
  }

  ul {
    list-style-type: disc;
    margin: 15px 0px;
    padding-left: 30px;
    color: $gray;
  }

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
    @include mobile {
      margin: 0 4px;
      padding: 5px 10px;
      border: 1px solid $blue;
      background-color: $white;
      color: $blue;
      @include border-radius(5px);
        &:hover {
          border: 1px solid $blue;
          background-color: $blue;
          color: $white;
        }
    }
  }
}

.page {
  padding: 0px;
}


.floatright {
  float: right;
  max-width: 50%;
  max-height: 250px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.floatleft {
  float: left;
  max-width: 50%;
  max-height: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.centered {
  margin: 30px auto;
  position: relative;
  left: -10%;
  max-width: 120%;
  @include box-shadow(0px, 6px, 20px, -1px, $gray);
  @include border-radius(5px);
  @include mobile {
    margin: 10px auto;
    left: -5%;
    max-width: 110%;
    @include border-radius(0px);
  }
}

.tags, .categories {
  list-style-type: none;
}

.tags {

}
.categories {

}

.share {
  margin-top: 20px;
}