---
layout: no-footer
---

<div id="main" role="main" class="container postcontainer">

<h1>Archive</h1>
  <!-- Posts -->
    {% for post in site.posts %}
      <ul class="padding">
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %e, %Y" }}
        </li>
      </ul>
    {% endfor %}


<h2>Hunting Articles</h2>
  {% for post in site.tags.hunting %}
    <ul class="padding">
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %e, %Y" }}
      </li>
    </ul>
  {% endfor %}

<h2>Fishing Articles</h2>
  {% for post in site.tags.fishing %}
    <ul class="padding">
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %e, %Y" }}
      </li>
    </ul>
  {% endfor %}

<h2>Reviews</h2>
  {% for post in site.tags.reviews %}
    <ul class="padding">
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %e, %Y" }}
      </li>
    </ul>
  {% endfor %}

</div> <!-- End of main -->