---
layout: default
---

<!-- Parallax -->
<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
		<h1>Hunting and Fishing the Midwest</h1>
		<p>Deer, Ducks, Upland, and Fishing stories from a Web Developer in the Upper Midwest. My name is Jason Swingen and I'm a web developer with a passion for the outdoors. Only makes sense that I bring my interests together and bring you stories of hunting and fishing in the Midwest.</p>

		<div class="downarrow pulse"></div>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>

<!-- Posts -->
<div class="big-container">
	<!-- <div class="title"><h1>Recent Posts</h1></div> -->

	<div class="posts">
	{% for post in site.posts %}
	  <article class="post articles postnohover">
	    <div class="postimg">
	      <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image }}" /></a>
	    </div>
	    <div class="padding">
	      <div class="postdate">{{ post.date | date: "%B %e, %Y" }}</div>
	      <h1>{{ post.title }}</h1>
	      <div class="entry">
	        {{ post.content | truncatewords:27}}
	      </div>
	      <a href="{{ site.baseurl }}{{ post.url }}"><button>Continue reading</button></a>
	    </div>
	  </article>
	{% endfor %}
	</div>

<!-- 	<div class="flex-boxes">
		{% for post in site.posts %}
			<article class="flex-box">
				<a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image }}" /></a>
				<h1 class="flex-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
				<div class="postdate">{{ post.date | date: "%B %e, %Y" }}</div>
				<p>{{ post.content | truncatewords:30}}</p>
				<a href="{{ site.baseurl }}{{ post.url }}"><button>Continue reading...</button></a>
			</article>
		{% endfor %}
	</div> -->
</div>
<!-- Hero -->
<!-- <div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Do you need a website?</h1>
			<p>Well then you have come to the right place, because <strong>I make websites</strong>! I can build a custom website as well as do any online marketing. Including Search Engine Optimization, Pay Per Click, Content Marketing, Social Media Marketing and more.</p>
		</div>
		<a href="{{ site.baseurl }}/contact/"><button>Contact Me</button></a>
	</div>
</div> -->
<!-- Device -->
<!-- <div class="device-background clearfix">
	<div class="device-text">
		<h4>Fully Responsive Websites</h4>
		<p>Designed for Mobile devices and scaled larger for computers, no matter what device you are using, your site will look great. Go ahead and view this website on a different device and see how it looks!</p>
	</div>
	<div id="js-fadeInElement" class="device fade-in-element">
		<div class="screen"></div>
	</div>
</div> -->
<!-- Map -->
<!-- <div id="map_canvas"></div> -->