    <section class="success" id="about">
      <!-- About Section -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Get to know me!</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm glad you found me! Let me tell you a little bit about myself. My name is Jason Swingen and I have been building and marketing websites for over 5 years. Specializing in fast, responsive, search engine optimized websites. I grew up in Montana, went to school at MSUM in Moorhead Minnesota where I received a double major in Marketing and Management, and I am now living in Duluth, Minnesota where I am working as a freelance web developer, web designer, and internet marketer.</p>
                </div>
                <div class="col-lg-4">
                    <p>If you are a small company that isn't looking to spend thousands and thousands of dollars on a website, but you know you need a website to gain new customers, you came to the right place. I currently have specials on web development and search engine optimization, but I can do everything from content and social media marketing to image and video editing. Check out my current specials on web development and search engine optimization below!</p>
                </div>

            </div>
        </div>
    </section>
