    <section class="success" id="about">
      <!-- About Section -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Get to know me!</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm glad you found me! Let me tell you a little bit about myself. My name is Jason Swingen and I have been building and marketing websites for over 6 years. Specializing in fast, responsive, search engine optimized websites. I grew up in Montana, went to school at MSUM in Moorhead Minnesota where I received a double major in Marketing and Management, and I am now living in Duluth, Minnesota where I am working as a freelance web developer, web designer, and internet marketer.</p>
                </div>
                <div class="col-lg-4 text-center">
                        <div class="hover08 hover03 hover14 column">
                          <div>
                            <figure>
                                <div class="user" style="background-image:url('img/Jason_Swingen.jpg')"></div>
                                <div class="profile">
                                    <span class="profile">Jason Swingen</span>
                                </div>
                            </figure>
                          </div>
                        </div>
                </div>

            </div>
        </div>
    </section>
