<style media="screen">
  body {
    overflow-x: hidden
  }

  p {
    font-size: 20px;
    font-family: roboto, Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-display: swap
  }

  a {
    outline: 0;
    color: #80B3FF
  }

  h2,
  h3,
  h4 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700
  }

  blockquote {
    margin: 40px 0px;
    border-left: 5px solid #80B3FF;
  }

  @media (min-width:1200px) {
    blockquote {
      margin-bottom: 40px
    }
  }

  hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center
  }

  hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em
  }

  hr.star-primary {
    border-color: #FD6E8A;
    ;
  }

  hr.star-primary:after {
    color: #FD6E8A;
    ;
  }

  .img-centered {
    margin: 0 auto
  }

  header {
    text-align: center;
    color: #fff;
    background: #80B3FF;
  }

  header .container {
    padding-top: 100px;
    padding-bottom: 50px
  }

  header img {
    display: block;
    margin: 0 auto 20px
  }

  header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 700
  }

  header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300
  }

  @media (min-width:990px) {
    header .container {
      padding-top: 200px;
      padding-bottom: 100px
    }

    header .intro-text .name {
      font-size: 4.75em
    }

    header .intro-text .skills {
      font-size: 1.75em
    }
  }

  @media (min-width:1200px) {
    .navbar-fixed-top {
      padding: 25px 0
    }

    .navbar-fixed-top .navbar-brand {
      font-size: 2em
    }
  }

  .navbar {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700
  }

  .navbar .navbar-nav {
    letter-spacing: 1px
  }

  .navbar-default {
    border: 0
  }

  section {
    padding: 100px 0
  }

  section h2 {
    margin: 0;
    font-size: 2.5em
  }

  @media (max-width:600px) {
    section h2 {
      font-size: 6vw
    }
  }

  @media (max-width:767px) {
    section {
      padding: 75px 0
    }
  }

  .btn-primary {
    margin-top: 15px
  }

  .scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px
  }

  .scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    margin-top: 0px;
    box-shadow: 2px 2px 11px -4px #333
  }

  .portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none
  }

  .portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em
  }

  .portfolio-modal .modal-content img {
    margin-bottom: 30px
  }

  .portfolio-modal .modal-content .item-details {
    margin: 30px 0
  }

  .portfolio-modal .close-modal {
    position: sticky;
    top: 10px;
    right: 10px;
    width: 75px;
    float: right;
    z-index: 999
  }

  .portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #FD6E8A;
  }

  .portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #FD6E8A;
  }

  .webdesign-img>img {
    margin: 0 auto;
    max-width: 800px;
    box-shadow: 0px 0px 31px -6px gray;
    display: block;
    max-width: 100%;
    height: auto
  }

  .oldsite {
    width: 45%;
    float: left
  }

  .newsite {
    width: 45%;
    float: right
  }

  .clearfix {
    clear: both
  }

  .carousel-inner>.item>img {
    margin: 0 auto
  }

  @media (max-width:600px) {
    blockquote {
      margin: 10px 0px
    }
  }
</style>
