<section id="expertise">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 col-sm-12 expertise-item mb-4">
        <a rel="noreferrer nofollow" target="_blank" href="https://www.expertise.com/mn/duluth/web-design"><img
            src="img/expertise/mn_duluth_web-design_expertise-2022.jpg" alt="Top Web Designer in Duluth 2022" /></a>
      </div>
      <div class="col-md-3 col-sm-12 expertise-item mb-4">
        <a rel="noreferrer nofollow" target="_blank" href="https://www.expertise.com/mn/duluth/web-design"><img
            src="img/expertise/mn_duluth_web-design_expertise-2023.jpg" alt="Top Web Designer in Duluth 2023" /></a>
      </div>
      <div class="col-md-3 col-sm-12 expertise-item mb-4">
      <a rel="noreferrer nofollow" target="_blank" href="https://www.expertise.com/mn/duluth/web-design"><img src="img/expertise/mn_duluth_web-design_expertise-2024.jpg" alt="Top Web Designer in Duluth 2024" /></a>
      </div>
      <div class="col-md-3 col-sm-12 expertise-item mb-4">
      <a rel="noreferrer nofollow" target="_blank" href="https://www.expertise.com/mn/duluth/web-design"><img src="img/expertise/mn_duluth_web-design_expertise-2025.jpg" alt="Top Web Designer in Duluth 2025" /></a>
      </div>
      <!-- <div class="col-md-3 col-sm-12 expertise-item mb-4">
      <a rel="noreferrer nofollow" target="_blank" href="https://www.expertise.com/mn/duluth/web-design"><img width="300" src="img/expertise/mn_duluth_web-design_expertise-2026.jpg" alt="Top Web Designer in Duluth 2026" /></a>
      </div> -->
    </div>
  </div>
</section>
