<section id="intro">
  <div class="container">
    <div class="col-lg-12 text-center">
      <h2>How Can I Help You?</h2>
      <hr class="star-primary">
    </div>
    <div class="row">
      <div class="container paragraphs text-center">

        <!-- <blockquote>
          <span class="testimonial-pic"><img src="/img/Jason_Swingen.jpg" alt="Jason Swingen"></span>
          <p class="intro">"Hi! My name is Jason Swingen and I am a Web Developer and Internet Marketer based out of Duluth, MN! I specialize in <i><b>designing</b></i>, <i><b>building</b></i>, and <i><b>optimizing</b></i> websites for small
            businesses just like
            yours in Minnesota as well as internationally!""</p>
        </blockquote> -->

        <div class="row">
          <p>Do you need a website or have a website that isn't showing up on Google's search results?</p>

          <p>I help businesses just like yours by building and marketing websites that get in front of the customers that are looking for you online.</p>
        </div>
        </div>
      </div>

<div class="feature-active owl-carousel">

    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <!-- <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/building_websites.svg" alt=""></div> -->
      <div class="col-lg-4 feature-text">
        <h3>Custom Built Websites</h3>
        <p>I create responsive websites that work on a wide range of devices that will fit you and your business.</p>
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/design_components.svg" alt=""></div>
    </div>

    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-4 feature-text">
        <h3>Responsive Designs</h3>
        <p>Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit</b>. Ut animi similique fugit numquam illum repudiandae odit dolore assumenda, ab quae et magnam vel blanditiis dolor, harum suscipit minus natus eum.</p>
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/responsive.svg" alt=""></div>
    </div>

    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-4 feature-text">
        <h3>Interactive Componants</h3>
        <p>Lorem ipsum dolor sit amet,<b> consectetur adipisicing elit</b>. Quaerat mollitia magnam nam id, placeat tempora fugit at provident repellat ad neque harum ullam, delectus ut explicabo deleniti laboriosam ipsa! Voluptate.</p>
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/heatmap.svg" alt=""></div>
    </div>

    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-4 feature-text">
        <h3>Built In Search Engine Optimization</h3>
        <p>Not showing up on the first page of search results? I can help with that!</p>
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/search.svg" alt=""></div>
    </div>

    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-4 feature-text">
        <h3>Custom Coded</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat mollitia magnam nam id, placeat tempora fugit at provident repellat ad neque harum ullam, delectus ut explicabo deleniti laboriosam ipsa! Voluptate.</p>
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/static_website.svg" alt=""></div>
    </div>

    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-4 feature-text">
        <h3>Social Media Integration</h3>
        <p>Looking for fast results? Get in front of your potential clients with targeted online marketing.</p>
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/social_media.svg" alt=""></div>
    </div>

</div>

</div>

</section>
