<div id="intro" class="">
  <section class="item">
    <div class="container feature">
      <div class="col-lg-12 text-center">
        <h2>Ready to Grow Your Business Online?</h2>
        <hr class="star-primary">
      </div>
      <div class="row col-lg-12 pb-4">
        <p>Looking for a website that attracts customers and builds trust? I design and build clear, easy-to-use websites that convert visitors into leads and customers.</p>
        <p class="page-scroll">From fast, mobile-first design to built-in SEO and simple content management, I handle the technical details so you can focus on your business. <a href="#contact">Schedule a free, no-pressure consultation</a> to talk goals, timeline, and budget.</p>
      </div>
      <div class="col-lg-4 feature-text mt-5">
        <h3>Custom Built Websites</h3>
        <p>Personalized websites that highlight your business and guide your visitors to contact you, schedule an appointment, subscribe to a newsletter, and more.</p>
      </div>
      <div class="col-lg-8 feature-image fade-in mt-3"><img src="/img/unDraw/design_components.svg" alt=""></div>
    </div>
  </section>

  <section class="success">
    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/responsive.svg" alt=""></div>
      <div class="col-lg-4 feature-text">
        <h3>Responsive Designs</h3>
        <p>No matter what device your customers use (phone, tablet, or desktop), your site will look great and work smoothly. Mobile-first design ensures fast load times and easy navigation.</p>
      </div>
    </div>
  </section>

  <section class="">
    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-4 feature-text">
        <h3>Built-in SEO for Better Visibility</h3>
        <p>SEO best practices are included from day one (clean markup, fast performance, and content optimized for your services and location), so potential customers can find you more easily.</p>
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/web_search.svg" alt=""></div>
    </div>
  </section>

  <section class="contact-cta">
    <div class="container feature">
      <div class="col-lg-12 text-center">
        <h3>Confident &amp; Simple Process</h3>
        <p class="page-scroll">I'll walk you through every step with a clear timeline, transparent pricing, and options for ongoing support. Ready to start? <a href="#contact">Get in touch</a> and I'll respond as soon as possible.</p>
      </div>
    </div>
  </section>

  <!-- <section class="">
    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-4 feature-text">
        <h3>Interactive Componants</h3>
        <p>Lorem ipsum dolor sit amet,<b> consectetur adipisicing elit</b>. Quaerat mollitia magnam nam id, placeat tempora fugit at provident repellat ad neque harum ullam, delectus ut explicabo deleniti laboriosam ipsa! Voluptate.</p>
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/heatmap.svg" alt=""></div>
    </div>
  </section> -->

<!--
  <section class="success">
    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/social_media.svg" alt=""></div>
      <div class="col-lg-4 feature-text">
        <h3>Social Media Integration</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat mollitia magnam nam id, placeat tempora fugit at provident repellat ad neque harum ullam, delectus ut explicabo deleniti laboriosam ipsa! Voluptate.</p>
      </div>
    </div>
  </section> -->

  <!-- <section class="success">
    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/static_website.svg" alt=""></div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/feeling_proud.svg" alt=""></div>
      <div class="col-lg-4 feature-text">
        <h3>Custom Coded</h3>
        <p>Not every business is the same. And not every website should be the same.</p>
        <p>Website features that fit your needs. From feature packed <b>WordPress</b> sites, to blazing fast and secure custom-coded static <b>Jekyll</b> sites. There is a great solution for your website.</p>
      </div>
    </div>
  </section> -->

  <!-- <section class="">
    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-4 feature-text">
        <h3>Drone Videography</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat mollitia magnam nam id, placeat tempora fugit at provident repellat ad neque harum ullam, delectus ut explicabo deleniti laboriosam ipsa! Voluptate.</p>
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/drone.svg" alt=""></div>
    </div>
  </section> -->
