<div class="">
  <section class="item">
    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <!-- <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/building_websites.svg" alt=""></div> -->
      <div class="col-lg-4 feature-text">
        <h3>Custom Built Websites</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat mollitia magnam nam id, placeat tempora fugit at provident repellat ad neque harum ullam, delectus ut explicabo deleniti laboriosam ipsa! Voluptate.</p>
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/design_components.svg" alt=""></div>
    </div>
  </section>

  <section class="success">
    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/responsive.svg" alt=""></div>
      <div class="col-lg-4 feature-text">
        <h3>Responsive Designs</h3>
        <p>Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit</b>. Ut animi similique fugit numquam illum repudiandae odit dolore assumenda, ab quae et magnam vel blanditiis dolor, harum suscipit minus natus eum.</p>
      </div>
    </div>
  </section>


  <section class="">
    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-4 feature-text">
        <h3>Interactive Componants</h3>
        <p>Lorem ipsum dolor sit amet,<b> consectetur adipisicing elit</b>. Quaerat mollitia magnam nam id, placeat tempora fugit at provident repellat ad neque harum ullam, delectus ut explicabo deleniti laboriosam ipsa! Voluptate.</p>
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/heatmap.svg" alt=""></div>
    </div>
  </section>


  <section class="success">
    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-4 feature-text">
        <h3>Built In Search Engine Optimization</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut animi similique fugit numquam illum repudiandae odit dolore assumenda, ab quae et magnam vel blanditiis dolor, harum suscipit minus natus eum.</p>
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/web_search.svg" alt=""></div>
    </div>
  </section>

  <section class="">
    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/static_website.svg" alt=""></div>
      <div class="col-lg-4 feature-text">
        <h3>Custom Coded</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat mollitia magnam nam id, placeat tempora fugit at provident repellat ad neque harum ullam, delectus ut explicabo deleniti laboriosam ipsa! Voluptate.</p>
      </div>
    </div>
  </section>

  <section class="success">
    <div class="container feature">
      <div class="col-lg-12 text-center">
      </div>
      <div class="col-lg-8 feature-image fade-in"><img src="/img/unDraw/social_media.svg" alt=""></div>
      <div class="col-lg-4 feature-text">
        <h3>Social Media Integration</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat mollitia magnam nam id, placeat tempora fugit at provident repellat ad neque harum ullam, delectus ut explicabo deleniti laboriosam ipsa! Voluptate.</p>
      </div>
    </div>
  </section>
</div>
