 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>
                                      <a target="_blank" href="{{post.siteurl}}">{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>{{ post.project-date }}
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>{{ post.category }}
                                    </strong>
                                </li>
                            </ul>

                            {% if post.description %}
                                <h3>Company Description</h3>
                                    <p>{{ post.description }}</p>
                            {% endif %}

                            {% if post.task %}
                                <h3>Work Performed</h3>
                                    <p>{{ post.task }}</p>
                            {% endif %}

                            {% if post.old-site-img %}
                                <h3>Website Redesign</h3>
                                    <div class="oldsite">
                                        <h4>Old Design</h4>
                                        &nbsp;
                                            <div class="webdesign-img">{{ post.old-site-img }}</div>
                                    </div>
                                    <div class="newsite">
                                        <h4>New Design</h4>
                                        &nbsp;
                                            <div class="webdesign-img">{{ post.new-site-img }}</div>
                                    </div>
                            {% endif %}

                            {% if post.current-site-img %}
                                <h3>Current Design</h3>
                                &nbsp;
                                    <div class="webdesign-img">{{ post.current-site-img }}</div>
                            {% endif %}
                            <div class="clearfix"><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
