<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image"> -->
      <div class="title">Jason Swingen</div>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      
    <button type="button" class="js-menu-trigger sliding-menu-button">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/menu-white.png" alt="Menu Icon">
    </button>

    <nav class="js-menu sliding-menu-content">
      <ul>
        <li class="nav-link"><a href="{{ site.baseurl }}/about/">About Me</a></li>
            <li class="nav-link"><a href="{{ site.baseurl }}/resume/">My Resume</a></li>
            <li class="nav-link"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
      </ul>
    </nav>

    <div class="js-menu-screen sliding-menu-fade-screen"></div>

      
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="{{ site.baseurl }}/about/">About Me</a></li>
        <li class="nav-link"><a href="{{ site.baseurl }}/resume/">My Resume</a></li>
        <li class="nav-link"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
<!--         <li class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Submenu Item</a></li>
            <li><a href="javascript:void(0)">Another Item</a></li>
            <li class="more"><a href="javascript:void(0)">Item with submenu</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
                <li><a href="javascript:void(0)">Another Item</a></li>
              </ul>
            </li>
            <li class="more"><a href="javascript:void(0)">Another submenu</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Sub-submenu</a></li>
                <li><a href="javascript:void(0)">An Item</a></li>
              </ul>
            </li>
          </ul>
        </li> -->
      </ul>
    </nav>
    <div class="navigation-tools">
<!--       <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div> -->
        <!-- {% include contactmodal.html %} -->
      <div class="twitter-btn">
        <a href="https://twitter.com/jasonswingen" class="animatereveal twitter-follow-button" data-show-count="false"> Follow @jasonswingen</a>
      </div>
    </div>
  </div>
</header>
