<section class="secondary" id="packages">

  <div class="container">
    <div class="col-lg-12 text-center">
      <h2>Web Development and Marketing Plans</h2>
      <hr class="star-light">
      <div>
        <!-- <p>If you are a small company that isn't looking to spend thousands of dollars on a website, but you know you need a website to gain new customers, or need a website optimized to rank on search engines, then you came to the right place. I currently have specials on web development and search engine optimization, but I can do everything from content and social media marketing to image and video editing.</p> -->
      </div>
    </div>
    &nbsp;
    <div class="row">

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail focus">
          <!-- <img src="..." alt="..."> -->
          <div class="caption">
            <h3>Custom Website</h3>
            <!-- <h4>Price - <span><a href="#contact">Message for Prices</a></span></h4> -->
            <p>Get in front of your customers!</p>
            <p>What's Included</p>
            <ul>
              <li>Responsive Website (mobile phone and tablet friendly)</li>
              <li>Fast Loading </li>
              <li>Email Contact Form</li>
              <li>Slideshow</li>
              <li>Embedded Video</li>
              <li>Social Media Buttons</li>
              <li>Photo Gallery</li>
              <li>FREE Search Engine Optimization</li>
            </ul>
            &nbsp;
            <p class="page-scroll text-center">
              <!-- <a href="#" class="btn btn-default" role="button">Learn More</a>  --><a href="#contact" class="btn btn-lg btn-success" role="button" data-toggle="tooltip" data-placement="bottom" data-select="website" title="Wohoo! New Website!">Get
                Started</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail focus">
          <!-- <img src="..." alt="..."> -->
          <div class="caption">
            <h3>SEO Audit</h3>
            <!-- <h4>Price - <span class="oldprice">$100</span></h4>
            <h4><span class="sale">Sale - $89</span></h4> -->
            <p>Find out what your website needs to get better search engine rankings.</p>
            <p>What's Included</p>
            <ul>
              <p></p>
              <li>Website Speed Check</li>
              <li>Check For Broken Links</li>
              <li>Check For Duplicate Content</li>
              <li>Check If Viewable By Search Engines</li>
              <li>SEO Report</li>
              <li>Keyword Ranking Report</li>
              <li>Spreadsheet Of Website Content</li>
            </ul>
            &nbsp;
            <p class="page-scroll text-center">
              <!-- <a href="#" class="btn btn-default" role="button">Learn More</a>  --><a href="#contact" class="btn btn-lg btn-success" role="button" data-toggle="tooltip" data-placement="bottom" data-select="audit" title="How is your site ranking?">Get
                Started</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail focus">
          <!-- <img src="..." alt="..."> -->
          <div class="caption">
            <h3>Search Engine Optimization</h3>
            <!-- <h4>Price - <span class="oldprice">$700</span></h4>
            <h4><span class="sale">Sale - $499</span></h4> -->
            <p>Currently have a website, but are struggling to get your website listed on search engines like Google? SEO will help get your site found by the customers looking for you!</p>
            <ul>
              <li>Includes FREE SEO Audit!</li>
              <li>Custom Competitor Research</li>
              <li>Optimize Website Content</li>
              <li>Improve Website Loading Time</li>
              <li>Set up Local Pages</li>
            </ul>
            &nbsp;
            <p class="page-scroll text-center">
              <!-- <a href="#" class="btn btn-default" role="button">Learn More</a>  --><a href="#contact" class="btn btn-lg btn-success" role="button" data-toggle="tooltip" data-placement="bottom" data-select="seo" title="Most popular option!">Get
                Started</a></p>
          </div>
        </div>
      </div>

      <!-- &nbsp; -->

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail focus">
          <!-- <img src="..." alt="..."> -->
          <div class="caption">
            <h3>Google Adwords</h3>
            <!-- <h4>Price - <span class="oldprice">$400</span></h4>
            <h4><span class="sale">Sale - $299</span></h4> -->
            <p>The fastest way to get to the top of Google. Perfect for a business with small or large budgets. You pay only when someone visits your website.</p>
            <p>What's Included</p>
            <ul>
              <li>Google Adwords Setup</li>
              <li>Custom Campaigns</li>
              <li>You choose Your Keywords</li>
              <li>You Choose Your Budget</li>
              <li>You Choose Your Bids</li>
              <li>You Choose Your Audience</li>
            </ul>
            &nbsp;
            <p class="page-scroll text-center">
              <!-- <a href="#" class="btn btn-default" role="button">Learn More</a>  --><a href="#contact" class="btn btn-lg btn-success" role="button" data-toggle="tooltip" data-placement="bottom" data-select="adwords" title="Get sales fast!">Get
                Started</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail focus">
          <!-- <img src="..." alt="..."> -->
          <div class="caption">
            <h3>Google Analytics</h3>
            <!-- <h4>Price - <span class="oldprice">$100</span></h4>
            <h4><span class="sale">Sale - $89</span></h4> -->
            <p>See Who is viewing your website</p>
            <ul>
              <li>Learn Who Your Customers Are</li>
              <li>See Where Your Traffic is Coming From</li>
              <li>See Why Your Customers are Leaving</li>
              <li>Track Your Websites Progess</li>
            </ul>
            &nbsp;
            <p class="page-scroll text-center">
              <!-- <a href="#" class="btn btn-default" role="button">Learn More</a>  --><a href="#contact" class="btn btn-lg btn-success" role="button" data-toggle="tooltip" data-placement="bottom" data-select="analytics" title="Track your site's growth!">Get
                Started</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail focus">
          <!-- <img src="..." alt="..."> -->
          <div class="caption">
            <h3>Hourly Work</h3>
            <!-- <h4><span class="sale">$30/hr</span></h4> -->
            <p>Have a small project, or need some help with social media, content, images, or videos?</p>
            <p>Good News! You can currently hire me by the hour.</p>
            <p class="page-scroll text-center">
              <!-- <a href="#" class="btn btn-default" role="button">Learn More</a>  --><a href="#contact" class="btn btn-lg btn-success" role="button" data-toggle="tooltip" data-placement="bottom" data-select="hourly" title="Great! What services do you need?">Get
                Started</a></p>
          </div>
        </div>
      </div>

    </div> <!-- end of row -->
  </div> <!-- end of container -->
</section>