<section id="carousel-example-generic" class="owl-carousel slider">
		<div class="item active">
			<h2 class="slidertitle hidden-xs text-center">Responsive Websites</h2>
			<img src="img/responsive_website.jpg" alt="Responsive Website Design Duluth MN">
			<div class="text-center">
				<p>Websites that ooks great on any device.</p>
			</div>
		</div>
		<div class="item">
			<h2 class="slidertitle hidden-xs text-center">Search Engine Optimized</h2>
			<img src="img/seo.jpg" alt="SEO Duluth MN">
			<div class="text-center">
				<p>Improved Search Engine Rankings to help you get found online.</p>
			</div>
		</div>
		<div class="item">
			<h2 class="slidertitle hidden-xs text-center">Google Adwords Certified Professional</h2>
			<img src="img/certified.jpg" alt="Adwords Certified Duluth MN">
			<div class="text-center">
				<p>Set up your ads with a professional.</p>
			</div>
		</div>
</section>
