<!-- <section class="container-fluid" id="whyjason"> -->
<div id="carousel-example-generic" class="owl-carousel">
	<!-- Indicators -->
	<!--   <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol> -->

	<!-- Wrapper for slides -->
		<div class="item active">
			<img src="img/responsive_website.jpg" alt="Responsive Website Design Duluth MN">
			<div class="carousel-caption">
				<!-- <h2 class="slidertitle hidden-xs">Responsive Websites</h2> -->
				<!-- <p>Looks great on any device</p> -->
			</div>
		</div>
		<div class="item">
			<img src="img/seo.jpg" alt="SEO Duluth MN">
			<div class="carousel-caption">
				<!-- <h2 class="slidertitle hidden-xs">Search Engine Optimized</h2> -->
				<!-- <p>Improve your rankings</p> -->
			</div>
		</div>
		<div class="item">
			<img src="img/certified.jpg" alt="Adwords Certified Duluth MN">
			<div class="carousel-caption">
				<!-- <h2 class="slidertitle hidden-xs">Google Adwords Certified Professional</h2> -->
				<!-- <p>Set up your ads with a professional</p> -->
			</div>
		</div>

	<!-- Controls -->
</div>
<!-- </section> -->
