<section id="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Testimonials</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<blockquote>
				<span class="testimonial-pic"><img src="https://scontent-msp1-1.xx.fbcdn.net/v/t1.0-1/p160x160/60185043_10214080530229007_59116604172009472_n.jpg?_nc_cat=111&_nc_ht=scontent-msp1-1.xx&oh=9fec52ccd765760fb0ed314d34d67cc6&oe=5D682A38" alt=""></span>
				<p class="rating">&#9733; &#9733; &#9733; &#9733; &#9733;</p>
				<p>Jason did a fantastic job! He is very responsive, the most of anyone I have worked with in this industry. He delivers results and I look forward to working with him much more in the near future.</p>
				<small><b>Derek Bridges</b> (Owner of LakeLife Homes)</small>
			</blockquote>
			<blockquote>
				<span class="testimonial-pic"><img src="https://scontent-msp1-1.xx.fbcdn.net/v/t1.0-1/p160x160/48356949_10103604070700290_6290221398765862912_n.jpg?_nc_cat=106&_nc_ht=scontent-msp1-1.xx&oh=3ba249fb33ba231bacf1cfff0b38bab5&oe=5D9482D0" alt=""></span>
				<p class="rating">&#9733; &#9733; &#9733; &#9733; &#9733;</p>
				<p>I want to take the opportunity to tell you how happy we are with the site so far, and how impressed we are! Everyone we have asked thinks it looks amazing! Clean, fresh, young, dynamic, and really easy to navigate -exactly what we were
					looking for- so well done! We look forward to continuing to working together!</p>
				<small><b>Per Arneberg</b> (Chairman of the Norwegian Flyfishers Club)</small>
			</blockquote>
			<blockquote>
				<span class="testimonial-pic"><img src="https://scontent-msp1-1.xx.fbcdn.net/v/t1.0-1/p160x160/54515973_10213052856508652_2935777075014926336_n.jpg?_nc_cat=108&_nc_eui2=AeE4lvqksmfoTwFtLB0n2fGNr2JW0Yy45J8Jfp9vmaOvM3N9lzcKyHQ6taIltrvc1XPYYT9PnJwyL1tgFElO9e5xxAHTEIgJiaQ6AtexqJeafQ&_nc_ht=scontent-msp1-1.xx&oh=3b62cb60a35f3165d5b5de506615c039&oe=5D963B7B"
					  alt=""></span>
				<p class="rating">&#9733; &#9733; &#9733; &#9733; &#9733;</p>
				<p>Jason is our go to guy for our web design and management. Of course he has extensive knowledge in the field, but what sets him apart from others is his dedication to serving our needs and he does that by responding quickly to our requests and
					also by bringing a fresh and creative approach to our needs.</p>
				<small><b>Tony Elfelt</b> (Owner of AAA Auction)</small>
			</blockquote>
			<!-- <blockquote>
				<p>Thank you so much for all the work you have done. Our website was unlisted on Google and now we are on the front page! It's been great working with you and will let you know when we are ready for our next project!</p>
				<small>Google User</small>
			</blockquote> -->
			<!-- 			<blockquote>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quod quo optio temporibus, molestiae aperiam vel cupiditate, odit veritatis reprehenderit iste animi velit ratione dolorem incidunt repellendus fuga officia! Vitae!</p>
				<small></small>
			</blockquote> -->
		</div>
		<div class="text-center">
			<span class="smtxt">Have you enjoyed my work? </span><a target="_blank" rel="noopener noreferrer" href="https://goo.gl/8Z6KJe" data-toggle="tooltip" data-placement="right" title="Thanks! It helps a lot."><b> WRITE A REVIEW <span class="fa fa-thumbs-up"></span></b></a>
		</div>
	</div>
</section>