<section id="testimonials">
	<div class="container">
		<div class="row">
            <div class="col-lg-12 text-center">
                <h2>Testimonials</h2>
                <hr class="star-primary">
            </div>
        </div>
		<div class="row">
			<blockquote>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum suscipit quibusdam fuga, excepturi rem, iste assumenda. Est ipsam voluptate facilis ut quam, assumenda voluptates dolore alias magnam, suscipit tempora corporis.</p>
				<small></small>
			</blockquote>
			<blockquote>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minus eius, nihil quia a voluptas voluptatem illo quibusdam, inventore qui commodi fugit, esse rem molestiae dolorem consequuntur, ut assumenda accusantium.</p>
				<small></small>
			</blockquote>
			<blockquote>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quod quo optio temporibus, molestiae aperiam vel cupiditate, odit veritatis reprehenderit iste animi velit ratione dolorem incidunt repellendus fuga officia! Vitae!</p>
				<small></small>
			</blockquote>
		</div>
	</div>
</section>