
<section id="testimonials">
	<div class="row">
        <div class="col-lg-12 text-center">
            <h2>Testimonials</h2>
            <hr class="star-primary">
        </div>
    </div>

<div class="testimonials-active owl-carousel">
    {% for t in site.data.testimonials %}
      <div class="item">
        <blockquote class="testimonial fade-in">
          <span class="testimonial-pic"><img src="/img/testimonials/{{ t.Image }}" alt=""></span>
          <p class="rating">{{ t.rating }}</p>
          <p>{{ t.Description }}</p>
          <small><b>{{ t.Name }}</b>{% if t.Title %} ({{ t.Title }}){% endif %}</small>
        </blockquote>
      </div>
    {% endfor %}
  </div>
    <div class="text-center">
    	<span class="smtxt">Have you enjoyed my work? </span><a target="_blank" rel="noopener noreferrer" href="https://goo.gl/8Z6KJe"><b> WRITE A REVIEW <span class="fa fa-thumbs-up"></span></b></a>
    </div>
</section>