<section class="secondary" id="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Testimonials</h2>
				<hr class="star-light">
			</div>
		</div>
		<!-- enable this class to enable carousel -->
		<!-- <div class="testimonials-active owl-carousel"> -->
		<div class="">
<div class="item">			<blockquote class="testimonial fade-in">
				<span class="testimonial-pic"><img src="/img/testimonials/Derek_Bridges.jpg" alt=""></span>
				<p class="rating">&#9733; &#9733; &#9733; &#9733; &#9733;</p>
				<p>Jason did a fantastic job! He is very responsive, the most of anyone I have worked with in this industry. He delivers results and I look forward to working with him much more in the near future.</p>
				<small><b>Derek Bridges</b> (Owner of LakeLife Homes)</small>
			</blockquote></div>
<div class="item">			<blockquote class="testimonial fade-in">
				<span class="testimonial-pic"><img src="/img/testimonials/Per_Arneberg.jpg" alt=""></span>
				<p class="rating">&#9733; &#9733; &#9733; &#9733; &#9733;</p>
				<p>I want to take the opportunity to tell you how happy we are with the site, and how impressed we are! Everyone we have asked thinks it looks amazing! Clean, fresh, young, dynamic, and really easy to navigate -exactly what we were
					looking for- so well done! We look forward to continuing to working together!</p>
				<small><b>Per Arneberg</b> (Chairman of the Norwegian Flyfishers Club)</small>
			</blockquote></div>
<div class="item">			<blockquote class="testimonial fade-in">
				<span class="testimonial-pic"><img src="/img/testimonials/Tony_Elfelt.jpg" alt=""></span>
				<p class="rating">&#9733; &#9733; &#9733; &#9733; &#9733;</p>
				<p>Jason is our go to guy for our web design and management. Of course he has extensive knowledge in the field, but what sets him apart from others is his dedication to serving our needs and he does that by responding quickly to our requests and
					also by bringing a fresh and creative approach to our needs.</p>
				<small><b>Tony Elfelt</b> (Owner of AAA Auction)</small>
			</blockquote></div>
			<!-- <blockquote>
				<p>Thank you so much for all the work you have done. Our website was unlisted on Google and now we are on the front page! It's been great working with you and will let you know when we are ready for our next project!</p>
				<small>Google User</small>
			</blockquote> -->
			<!-- 			<blockquote>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quod quo optio temporibus, molestiae aperiam vel cupiditate, odit veritatis reprehenderit iste animi velit ratione dolorem incidunt repellendus fuga officia! Vitae!</p>
				<small></small>
			</blockquote> -->
		</div>
		<div class="text-center">
			<span class="smtxt">Have you enjoyed my work? </span><a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?tbm=lcl&sxsrf=ALeKk03EEpzdsxHHKB4xiWcj8N53PSJtuw%3A1588776486003&ei=Jc6yXvrmPJXj-gS7lLbICg&q=Jason+Swingen+Web+Development&oq=Jason+Swingen+Web+Development&gs_l=psy-ab.3..38.10498.16314.0.16393.29.24.0.0.0.0.308.3271.0j12j4j1.17.0....0...1c.1.64.psy-ab..12.17.3270...0j35i39k1j0i67k1j0i273k1j0i10k1j0i22i30k1.0.unuo6igl6-E#lrd=0x52afb20a99815555:0x1c69aedb705b9858,3,,,&rlfi=hd:;si:2047359763122722904;mv:[[49.3822238,-86.7639767],[42.491864,-97.239171]]"
			  data-toggle="tooltip" data-placement="right" title="Thanks! It helps a lot."><b> WRITE A REVIEW <svg aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
						<path d="M466.27 286.69C475.04 271.84 480 256 480 236.85c0-44.015-37.218-85.58-85.82-85.58H357.7c4.92-12.81 8.85-28.13 8.85-46.54C366.55 31.936 328.86 0 271.28 0c-61.607 0-58.093 94.933-71.76 108.6c-22.747 22.747-49.615 66.447-68.76 83.4H32c-17.673 0-32 14.327-32 32v240c0 17.673 14.327 32 32 32h64c14.893 0 27.408-10.174 30.978-23.95c44.509 1.001 75.06 39.94 177.802 39.94c7.22 0 15.22.01 22.22.01c77.117 0 111.986-39.423 112.94-95.33c13.319-18.425 20.299-43.122 17.34-66.99c9.854-18.452 13.664-40.343 8.99-62.99zm-61.75 53.83c12.56 21.13 1.26 49.41-13.94 57.57c7.7 48.78-17.608 65.9-53.12 65.9h-37.82c-71.639 0-118.029-37.82-171.64-37.82V240h10.92c28.36 0 67.98-70.89 94.54-97.46c28.36-28.36 18.91-75.63 37.82-94.54c47.27 0 47.27 32.98 47.27 56.73c0 39.17-28.36 56.72-28.36 94.54h103.99c21.11 0 37.73 18.91 37.82 37.82c.09 18.9-12.82 37.81-22.27 37.81c13.489 14.555 16.371 45.236-5.21 65.62zM88 432c0 13.255-10.745 24-24 24s-24-10.745-24-24s10.745-24 24-24s24 10.745 24 24z"
						  fill="currentColor" /></svg></b></a>
		</div>
	</div>
</section>
