<section class="success" id="why">
  <!-- About Section -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Why Do You Need Internet Marketing?</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-lg-4 col-lg-offset-2"> -->
                <div class="container paragraphs">
                  <p>If you are reading this, you most likely searched online for an <i class="focus">"internet marketer"</i> or <i class="focus">"web developer"</i>, or <i class="focus">"SEO company"</i> on your favorite search engine.</p>

                  <p>Then, with a little luck (and some <i>targeted technical on-page search optimizations</i>) this website showed up and you clicked on it!</p>

                  <p><b>Wouldn't it be nice if your potential customers visited your website instead of one of your competitors?</b></p>

                  <div class="container">
                  <div class="col-lg-12 text-center"></div>
                  <div class="row">

                    <div class="col-sm-6">
                      <p class="page-scroll text-center"><a href="#portfolio" class="btn btn-lg btn-outline" role="button" data-toggle="tooltip" data-placement="bottom" title="View previous work"><i class="fas fa-briefcase"></i> Yes, but let's see you previous work.</a></p>
                    </div>

                    <div class="col-sm-6">
                      <p class="page-scroll text-center"><a href="#testimonials" class="btn btn-lg btn-outline" role="button" data-toggle="tooltip" data-placement="bottom" title="View recent testimonials"><i class="far fa-thumbs-up"></i> Yes, but what do your clients say about you.</a></p>
                    </div>


                  </div>
                </div>

                <div class="">
                  <p class="page-scroll text-center"><a href="#contact" class="btn btn-lg btn-primary" role="button" data-toggle="tooltip" data-placement="bottom" title="Send Jason Swingen a message">Of course! I'm ready to get started.</a></p>
                </div>

                </div>
        </div>
    </div>
</section>
