nav, .invi, footer, .totop, .share, meter {
	display: none;
}
body {
	width: 100%;
	font-family: georgia, serif;
	font-size: 12px;
	margin: 0px;
}
.paper {
	width: 100%;
	margin: 0px;
	top: 0px;
	box-shadow: none;
	padding-bottom: 0px;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 23px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 21px;
}
h6 {
	font-size: 20px;
}
p {
	font-size: 12px;
}
.box p:first-of-type {
	display: inline-block;
	font-weight: bold;
	font-size: 11px;
	float: left;
}
.box p:nth-of-type(2) {
	display: inline-block;
	color: #696969;
	float: right;
}
.box p:nth-of-type(3) {
	clear: both;
}
.cat {
	width: 100%;
	border-bottom: 1px solid black;
}
.contactinfo {
	span {
		font-family: helvetica, sans-serif;
		font-size: 13px;
	}
}
//Enable the following attribute to show lists in a single column
// .twoway {
// 	display: block;
// 	width: 100%;
// }