@import "reset";
@import "grid";
@import url( http://fonts.googleapis.com/css?family=Raleway:200,600 );

@mixin phone {
  @media only screen and (max-width: 700px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: 900px) {
    @content;
  }
}

@mixin box-shadow($shadow-color) {
  -webkit-box-shadow: 0 2rem 5rem 0 $shadow-color;
     -moz-box-shadow: 0 2rem 5rem 0 $shadow-color;
      -ms-box-shadow: 0 2rem 5rem 0 $shadow-color;
          box-shadow: 0 2rem 5rem 0 $shadow-color;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$white      : #ffffff;
$main-color : #2196f3;
$box-shadow : rgba(0, 0, 0, 0.5);

html, body { height: 100%; }

h1, h2, h3, h4, h5, h6, p, ul {
  padding: .5rem;
}
h1 {
  font-size: 4rem;
  // font-size: 7vw;
  font-weight: bold;
  @include phone {
    font-size: 2.4rem;
  }
}
h2 {
  font-size: 3rem;
  @include phone {
    font-size: 2.3rem;
  }
}
h3 {
  font-size: 2.6rem;
    @include phone {
    font-size: 1.8rem;
  }
}
h4 {
  font-size: 2.4rem;
  @include phone {
    font-size: 1.7rem;
  }
}
h5 {
  font-size: 2.2rem;
  @include phone {
    font-size: 1.6rem;
  }
}
h6 {
  font-size: 2rem;
  @include phone {
    font-size: 1.8rem;
  }
}

p {
  padding-left: .4rem;
}

a {
  text-decoration: none;
  color: $white;
  font-size: 1.6rem;
  &:hover {
    color: $main-color;
  }
}

.cat {
  text-transform: uppercase;
}

body {
  margin: 0;
  font: 16px/1.7rem 'Raleway', sans-serif;
  line-height: 1.51;
}

nav {
  position: fixed;
  display: block;
  width: 100%;
  height: 200px;
  background-color: $main-color;
  box-shadow: inset 0rem -2rem 4rem -52px rgba(0, 0, 0, 0.5);
  @include phone {
    height: 250px;
  }
  ul {
    li {
      display: inline-block;
      text-decoration: none;
      margin-right: 2rem;
      margin-top: 2rem;
    }
  }
}

.navigation {
  margin: 15px auto;
  width: 80%;
  ul {
    padding: 0px;
    li {
      display: inline-block;
      text-decoration: none;
      list-style: none;
      margin: 2px 10px 0px 0px;
      border: 1px solid white;
      @include border-radius(2px);
      padding: 1px 6px;
        &:hover {
          background-color: $white;
        }
      @include phone {
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 8px;
      }
      a {
        text-decoration: none;
        color: white;
        font-size: 1.6rem;
        &:hover {
          color: $main-color;
        }
        // @include tablet {
        //   font-size: 1.6rem;
        // }
        // @include phone {
        //   font-size: 1.8rem;
        // }
      }
    }
  }
}

main {
  background-color: #fff;
}

.paper {
  width: 80%;
  position: relative;
  top: 5rem;
  margin: 0 auto 80px;
  background-color: #fff;
  @include border-radius(2px);
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.25);
  z-index: 200;
  @include phone {
    width: 100%;
    top: 14rem;
    margin: 0 auto 280px;
    border-radius: 0px;
  }
}

.paper > div {
  margin: 0rem 2rem;
}
.oneway {
  display: block;
  width: 100%;
}

.twoway {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  @include tablet {
    display: block;
    width: 100%;
  }
}
.threeway {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  @include tablet {
    display: block;
    width: 100%;
  }
}
.fourway {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  @include tablet {
    width: 50%;
  }
}

.clearfix {
  .cf:after,
  .cf:before {
    content: '';
    display: table;
  }
  .cf:after {
    clear: both;
  }
  .cf {
    zoom: 1;
  }
}

.invi {
  display: absolute;
  width: 100%;
  height: 50px;
  background-color: transparent;
  span {
    display: relative;
    height: 50px;
  }
}

footer {
  position: fixed;
  width: 80%;
  bottom: 0;
  margin: 0 10%;
  background-color: $main-color;
  box-shadow: inset 0rem -2rem 4rem -52px rgba(0, 0, 0, 0.5);
  @include phone {
    width: 100%;
    margin: 0px;
    bottom: 0px;
    left: 0px;
  }
  ul {
    margin-top: 15px;
    li {
      display: inline-block;
      text-decoration: none;
      list-style: none;
      margin: 2px 4px 0px 0px;
      border: 1px solid white;
      @include border-radius(2px);
      padding: 1px 6px;
      font-size: 1.2rem;
        &:hover {
          background-color: $white;
        }
      @include phone {
        text-align: center;
        width: 30%;
        margin-top: 8px auto 0px;
        font-size: 1rem;
      }
      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

.totop {
  float: right;
  margin-top: 6px;
  @include phone {
    float: none;
    margin-top: none;
  }
}

.share {
  display: none;
  @include phone {
    z-index: 9999;
    display: block;
    position: fixed;
    bottom: 25px;
    right: 15px;
    height: 75px;
    width: 75px;
    border: 2px solid $main-color;
    background-color: $main-color;
    @include border-radius(100px);
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.5);
  }
}