<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBKJKR5" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% include page-nav.html %}
  <br>
  
  <section class="page">
    <div class="page-title">{% include page-title.html %}</div>
    <div class="page">{{ content }}</div>
  </section>

  {% include footer.html %}
  {% include js.html %}
</body>

</html>