/***************/
/* MEYER RESET */
/***************/
@import url(http://fonts.googleapis.com/css?family=Raleway:200,600);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul {
  padding: .5rem;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.6rem;
  }
}

h2 {
  font-size: 3rem;
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 2.3rem;
  }
}

h3 {
  font-size: 2.6rem;
}
@media only screen and (max-width: 600px) {
  h3 {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 2.4rem;
}
@media only screen and (max-width: 600px) {
  h4 {
    font-size: 1.7rem;
  }
}

h5 {
  font-size: 2.2rem;
}
@media only screen and (max-width: 600px) {
  h5 {
    font-size: 1.6rem;
  }
}

h6 {
  font-size: 2rem;
}
@media only screen and (max-width: 600px) {
  h6 {
    font-size: 1.8rem;
  }
}

p {
  padding-left: .4rem;
}

.cat {
  text-transform: uppercase;
}

body {
  margin: 0;
  font: 16px/1.7rem 'Raleway', sans-serif;
  line-height: 1.51;
}

nav {
  position: fixed;
  display: block;
  width: 100%;
  height: 200px;
  background-color: #2196f3;
  box-shadow: inset 0rem -2rem 4rem -52px rgba(0, 0, 0, 0.5);
}

nav > ul > li {
  display: inline-block;
  text-decoration: none;
  margin-right: 2rem;
  margin-top: 2rem;
}

.hamburger {
  position: fixed;
  top: 10px;
  left: 10px;
}

.menu-icon {
  position: relative;
  display: inline-block;
  width: 70px;
  text-indent: -999px;
}

.border-icon {
  height: 50px;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
}

.border-icon:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  border-top: 10px solid #fff;
}

.border-icon:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  border-top: 10px solid #fff;
}

main {
  background-color: #fff;
}

.paper {
  width: 80%;
  min-height: 800px;
  position: relative;
  top: 6rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: .2rem;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.25);
  z-index: 200;
}
@media only screen and (max-width: 600px) {
  .paper {
    width: 100%;
    top: 4.5rem;
  }
}

.paper > div {
  margin: 0rem 2rem;
}

.slideout {
  height: 100%;
  width: 400px;
  background-color: #bbdefb;
  z-index: 9999;
}

.btn-circle {
  border: none;
  position: relative;
  height: 6rem;
  width: 6rem;
  top: -9.9rem;
  right: -67rem;
  background-color: #fb8c00;
  border-radius: 50px;
  font: 18px/1.7rem 'Raleway', sans-serif;
  font-weight: bold;
  box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.5);
  z-index: 300;
}

.box3 {
  display: inline-block;
  width: 24.6%;
}
@media only screen and (max-width: 600px) {
  .box3 {
    width: 100%;
  }
}

.box4 {
  display: inline-block;
  width: 32%;
}
@media only screen and (max-width: 600px) {
  .box4 {
    width: 100%;
  }
}

.flexparent {
  display: flex;
  flex-direction: colomn;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.flexchild {
  height: 90%;
  flex-grow: 1;
}

.clearfix .cf:after,
.clearfix .cf:before {
  content: '';
  display: table;
}
.clearfix .cf:after {
  clear: both;
}
.clearfix .cf {
  zoom: 1;
}

/*********************************************************************
 

                            Extra Stuff


**********************************************************************/
.navbar {
  border-width: 1px 0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  width: 100%;
}

.navbar.stick {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .85;
}

.navbar-collapse {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.navbar-collapse .navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.navbar-collapse .navbar-nav > li {
  float: none;
  display: inline-block;
}

.navbar-collapse .navbar-nav > li > a {
  padding: 20px 30px;
}

/* fly in effect */
.fly {
  opacity: 0;
  transition: all 500ms ease-in;
  transform: translateY(100px) scale(1.05) translate3d(0, 0, 0);
}

.show-block {
  opacity: 1;
  transform: translateY(0) scale(1) translate3d(0, 0, 0);
  color: red;
  z-index: 9999;
}
