@import "reset";
@import url( http://fonts.googleapis.com/css?family=Raleway:200,600 );

html, body { height: 100%; }

h1 {
  font-size: 3.5rem;
  margin-left: .4rem;
  padding-top: 1.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1rem;
}


body {
  margin: 0;
  overflow: hidden;
  font: 14px/1.6em 'Raleway', sans-serif;
}

nav {
  display: block;
  width: 100%;
  height: 200px;
  background-color: #2196f3;
  z-index: 50;
}

nav > ul > li {
  display: inline-block;
  text-decoration: none;
  margin-right: 2rem;
  margin-top: 2rem;
}

main {
  background-color: #fff;
  box-shadow: 14px 2rem 5rem 1px rgba(0, 0, 0, .5);
  z-index: 100;
}

.paper {
  width: 80%;
  min-height: 800px;
  position: relative;
  top: -6rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 2rem2;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.25);
  z-index: 200;
}

.slideout {
  height: 100%;
  width: 400px;
  background-color: #bbdefb;
  z-index: 9999;
}