/***************/
/* MEYER RESET */
/***************/
@import url(http://fonts.googleapis.com/css?family=Raleway:200,600);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul {
  padding: .5rem;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

p {
  padding-left: .4rem;
}

body {
  margin: 0;
  font: 16px/1.7rem 'Raleway', sans-serif;
  line-height: 1.51;
}

nav {
  position: fixed;
  display: block;
  width: 100%;
  height: 200px;
  background-color: #2196f3;
  box-shadow: inset 0rem -2rem 4rem -52px rgba(0, 0, 0, 0.5);
}

nav > ul > li {
  display: inline-block;
  text-decoration: none;
  margin-right: 2rem;
  margin-top: 2rem;
}

main {
  background-color: #fff;
}

.paper {
  width: 80%;
  min-height: 800px;
  position: relative;
  top: 6rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: .2rem;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.25);
  z-index: 200;
}

.paper > div {
  margin: 0rem 2rem;
}

.slideout {
  height: 100%;
  width: 400px;
  background-color: #bbdefb;
  z-index: 9999;
}

.btn-circle {
  border: none;
  position: relative;
  height: 6rem;
  width: 6rem;
  top: -9.9rem;
  right: -67rem;
  background-color: #fb8c00;
  border-radius: 50px;
  font: 18px/1.7rem 'Raleway', sans-serif;
  font-weight: bold;
  box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.5);
  z-index: 300;
}
